<!DOCTYPE html>
<html>
  <head>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/allMaps.css" type="text/css" />
    <title>List of All Maps</title>
  </head>
  <body>
    <header>
      <nav class="navBar">
        <div class="WikiMapsLogo">
          <h1>WikiMaps</h1>
          <i class="fa-solid fa-signs-post"></i>
        </div>
        <div class="navButtons">
          <a href="/create" class="link-dark">&#43;Create Map</a>
          <a href="/maps" class="link-dark">&#43;My Profile</a>
          <form method="GET" action="/logout">
            <button class="btn btn-outline link-dark">&#43;Logout</button>
          </form>
        </div>
      </nav>
    </header>
    <main>
      <div class="contentbox">
    <h2>Hey <%= name %>!</h2>
      <h2>All Saved Maps That Have Been Created Are Listed Below:</h2>
      <div>
        <% for(const map in maps) { %>
          <div>
            <a href="/maps/<%= maps[map].id %>" class="link-dark" id="allmapslist"><i class="fa-solid fa-map-location-dot"></i><%= maps[map].title %></a>
            <p><%= maps[map].description %></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>
