<!-- //receives an array of  available maps -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/_head') %>
    <!-- <link rel="stylesheet" href="/styles/mapView.css" type="text/css" /> -->
    <title>Map List</title>
  </head>
  <body>
    <header>
      <nav class="navBar">
        <div class="WikiMapsLogo">
          <h1>WikiMaps</h1>
          <i class="fa-solid fa-signs-post"></i>
        </div>
        <div class="navButtons">
          <a href="/all_maps" class="link-dark">&#43;View All Maps</a>
          <a href="/create" class="link-dark">&#43;Create Map</a>
          <form method="GET" action="/logout">
            <button class="btn btn-outline link-dark">&#43;Logout</button>
          </form>
      </nav>
    </header>
    <main>
      <div class="contentbox">
    <h2>Hey <%= name%>!</h2>
    <div>
      <h2>Here are your favourite maps:</h2>
      <div>
        <% for(const map in favMaps) { %>
          <div>
            <a href="/maps/<%= favMaps[map].id %>" class="link-dark"><%= favMaps[map].title %></a>
            <p><%= favMaps[map].description %></p>
          </div>
        <% } %>
      </div>


    </div>
    <div>
      <h2>All Maps That Youv'e Created:</h2>
      <div>
        <% for(const map in maps) { %>
          <div>
            <a href="/maps/<%= maps[map].id %>" class="link-dark"><%= maps[map].title %></a>
            <p><%= maps[map].description %></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  </main>
    <%- include('partials/_footer') %>
  </body>
</html>
